# Git config for macOS; assumes username 'cdzombak'

# User

[user]
	name = Chris Dzombak
	email = chris@dzombak.com
	signingkey = 588D34AC

# Company-specific name/email/signing key:
[includeIf "gitdir:~/code/blumira/"]
	path = .gitconfig-blumira

# Core Config

[core]
	autocrlf = false
	excludesfile = /Users/cdzombak/.gitexcludes
	quotepath = false
	trustctime = false
	pager = diff-so-fancy | less --tabs=4 -RFX  # https://github.com/so-fancy/diff-so-fancy#usage

[http]
	postBuffer = 262144000
	# roughly 250 MB

[commit]
	gpgsign = true
	# see GPG config in Tools section

[apply]
	whitespace = nowarn

[url "https://"]
	insteadOf = git://

[url "https://github.com/"]
	insteadOf = git@github.com:

[credential]
	helper = osxkeychain

# UI

[pager]
	status = false
	branch = false

[color]
	diff = true
	status = true
	branch = true
	interactive = true
	ui = true
# https://github.com/so-fancy/diff-so-fancy#improved-colors-for-the-highlighted-bits
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

# GitHub

[github]
	user = cdzombak
[gist]
	home = /Users/cdzombak/code/gists

# Aliases

[alias]
	st = status -sb
	poh = push origin HEAD
	wdiff = diff --word-diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	sub = submodule
	pre = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	tags = tag -l
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	cbr = rev-parse --abbrev-ref HEAD
	recent = ! git reflog | grep 'checkout: moving from' | head -n 50 | egrep -oh ' \\S+$' | awk '!x[$0]++'
	first = rev-list --max-parents=0 HEAD
	subl-conflicts = ! git status | grep -i 'both modified' | sed 's/both modified://' | xargs subl -a $(git rev-parse --show-toplevel) -n

	# Interactive checkout. Requires fzf (https://github.com/junegunn/fzf).
	# Example: `git ibco`
	#
	# via aaron @ blumira
	ibco = !git for-each-ref refs/heads --format='%(refname:short)' | fzf | xargs git checkout

	# Interactive remote checkout. Requires fzf (https://github.com/junegunn/fzf).
	# Example: `git irbco`
	#
	# The sed command strips the origin part of the branch name (e.g.
	# "origin/foo"). The double backslashes are because escape chars need to be
	# escaped in gitconfigs.
	#
	# via aaron @ blumira
	irbco = !git for-each-ref refs/remotes --format='%(refname:short)' | fzf | sed 's/[^\\/]*\\/\\(.*\\)/\\1/' | xargs git switch

# Tools

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	compactionHeuristic = true
	tool = Kaleidoscope

[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
