root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
indent_size = 2

[*.sh]
indent_size = 2

[*.zsh]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[.gitconfig]
indent_style = tab
indent_size = 4

[{.zlogin,.zshenv,.zshrc}]
indent_size = 4
