[submodule "zsh/.zsh/zsh-notify"]
	path = zsh/.zsh/zsh-notify
	url = https://github.com/cdzombak/zsh-notify.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/cdzombak/zsh-syntax-highlighting.git
[submodule "nano/.nano"]
	path = nano/.nano
	url = https://github.com/cdzombak/nanorc.git
[submodule "kubectl-aliases"]
	path = kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases.git
