
[submodule "mac/kubectl-aliases"]
    path = kubectl-aliases
    url = https://github.com/ahmetb/kubectl-aliases.git
[submodule "mac/zsh/.zsh/zsh-syntax-highlighting"]
	path = mac/zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
