# machine github.com login cdzombak password PUT_TOKEN_HERE
# machine bitbucket.org login PUT_USERNAME_HERE password PUT_TOKEN_HERE
# machine dropbox.dzombak.com login cdzombak password PUT_TOKEN_HERE
