## See:
#  https://www.nano-editor.org/dist/latest/nano.html
#  https://www.if-not-true-then-false.com/2009/tuning-nano-text-editor-with-nanorc/

set autoindent  # Indent new lines to the previous line's indentation
set morespace   # Use the blank line below the titlebar as extra editing space.
set nowrap      # Don't wrap long lines at all.
                # CLI: -w, --nowrap
set quickblank  # Do quick statusbar blanking. Statusbar messages will disappear after 1 keystroke instead of 25.
                # Note that -c (constantly display cursor position & line number on statusbar) overrides this.
set smarthome   # When Home is pressed anywhere but at the very beginning of non-whitespace characters on a line, the cursor will jump to that beginning (either forwards or backwards). If the cursor is already at that position, it will jump to the true beginning of the line.
set tabsize 4   # Tab width is 4 spaces.

##
## Unused options
##

# set softwrap      # Use soft wrapping by default.
                    # CLI: -$, --softwrap
                    # Soft Wrapping Toggle (Meta-$)

# set tabstospaces  # Convert typed tabs to spaces.
                    # CLI: -E, --tabstospaces

##
## Specific settings I want disabled
##

unset backup      # Would: Create backup files in "filename~".
                  # CLI: enable via -B, --backup

unset mouse       # Would: Enable the use of the mouse.
                  # When enabled, mouse clicks can be used to place the cursor, set the mark (with a double click), and execute shortcuts.
                  # CLI: -m, --mouse

unset noconvert   # Would: Disable converting files from DOS/Mac format.
                  # CLI: -N, --noconvert

unset nonewlines  # Would: Disable adding newlines to the ends of files.
                  # CLI: -L, --nonewlines

##
## Improved Nano Syntax Highlighting Files from https://github.com/scopatz/nanorc
##

include "/usr/local/share/nano/*.nanorc"
include "~/.nano/*.nanorc"
