# Git config for Linux servers; assumes username 'cdzombak'

[user]
	name = Chris Dzombak
	email = chris@dzombak.com

[include]
    path = /home/cdzombak/.gitconfig.local

[core]
	autocrlf = false
	excludesfile = /home/cdzombak/.gitexcludes
	quotepath = false
	trustctime = false

[http]
	postBuffer = 262144000
	# roughly 250 MB

[apply]
	whitespace = nowarn

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[url "https://"]
	insteadOf = git://

[url "https://github.com/"]
	insteadOf = git@github.com:

[credential]
	helper = cache --timeout 1800

# UI

[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%cr)%Creset

[color]
	diff = true
	status = true
	branch = true
	interactive = true
	ui = true

# Aliases

[alias]
	st = status -sb
	poh = push origin HEAD
	puoh = push --set-upstream origin HEAD
	wdiff = diff --word-diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	sub = submodule
	pre = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	tags = tag -l
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	cbr = rev-parse --abbrev-ref HEAD
	first-commit = rev-list --max-parents=0 HEAD
	branch-cleanup = ! git branch --merged | egrep -v \"(^\\*|master|main|dev|development)\" | xargs git branch -d && git remote prune origin
	recent-branches = branch --sort=-committerdate

	# Interactive checkout. Requires fzf (https://github.com/junegunn/fzf).
	# Example: `git ibco`
	#
	# via aaron @ blumira
	ibco = !git for-each-ref refs/heads --format='%(refname:short)' | fzf | xargs git checkout

	# Interactive remote checkout. Requires fzf (https://github.com/junegunn/fzf).
	# Example: `git irbco`
	#
	# The sed command strips the origin part of the branch name (e.g.
	# "origin/foo"). The double backslashes are because escape chars need to be
	# escaped in gitconfigs.
	#
	# via aaron @ blumira
	irbco = !git for-each-ref refs/remotes --format='%(refname:short)' | fzf | sed 's/[^\\/]*\\/\\(.*\\)/\\1/' | xargs git switch
