# Git config for Linux servers; assumes username 'cdzombak'

# Core

[user]
	name = Chris Dzombak
	email = chris@dzombak.com

[core]
	autocrlf = false
	excludesfile = /home/cdzombak/.gitexcludes
	quotepath = false
	trustctime = false

[color]
	diff = true
	status = true
	branch = true
	interactive = true
	ui = true

[apply]
	whitespace = nowarn

[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%cr)%Creset

[url "https://"]
	insteadOf = git://

# Aliases

[alias]
	st = status -sb
	poh = push origin HEAD
	wdiff = diff --word-diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	sub = submodule
	pre = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	tags = tag -l
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
	recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	cbr = rev-parse --abbrev-ref HEAD
	recent = ! git reflog | grep 'checkout: moving from' | head -n 50 | egrep -oh ' \\S+$' | awk '!x[$0]++'
	first = rev-list --max-parents=0 HEAD
